# Fex-Metrica .gitignore files:
#
# Version 10-Jan-2015.

# Ignore build files
fexSDK/src/facet/cpp/osx/build
fexSDK/src/facet/cpp/osx/fexfacetexec

# Ignore test files
fexSDK/test/test.json
fexSDK/test/test.csv
fexSDK/test/fextest_report.mat

# Ignore "dev" folder
fexSDK/dev

# Ignore unpacked "samples"
fexSDK/samples/data