# Fex-Metrica .gitignore files:
#
# Version 08/12/15

# Ignore fex_init file & fexinfo.dat
fexSDK/include/*

# Ignore build files
fexSDK/src/facet/cpp/osx/build
fexSDK/src/facet/cpp/osx/fexfacetexec
fexSDK/src/facet/cpp/osx/CMakeLists.txt
fexSDK/src/facet/cpp/osx/config.hpp

# Ignore test files
fexSDK/test/test.json
fexSDK/test/test.csv
fexSDK/test/fextest_report.mat

# Ignore "dev" folder
fexSDK/dev

# Ignore unpacked "samples"
fexSDK/samples/*
!fexSDK/samples/data.zip
!fexSDK/samples/docs
!fexSDK/samples/example1.m
!fexSDK/samples/README.md

# Ignore Paper
var

# Ignore temp autosave
fexSDK/src/*.m~
fexSDK/src/util/*.m~

