# Fex-Metrica .gitignore files:
#
# Version 08/12/15

# Ignore fex_init file & fexinfo.dat
fexSDK/include/*

# Ignore main _build file
fexSDK/_build


# Ignore build files
fexSDK/src/facet/cpp/osx/build
fexSDK/src/facet/cpp/osx/fexfacetexec
fexSDK/src/facet/cpp/osx/CMakeLists.txt
fexSDK/src/facet/cpp/osx/config.hpp

# Ignore build and data for emotient-matlab
fexSDK/src/emotient-matlab/_build
fexSDK/src/emotient-matlab/users
fexSDK/src/emotient-matlab/test

# Ignore test files
fexSDK/test/test.json
fexSDK/test/test.csv
fexSDK/test/fextest_report.mat

# Ignore "dev" folder
fexSDK/dev

# Ignore unpacked "samples"
fexSDK/samples/*
!fexSDK/samples/data.zip
!fexSDK/samples/docs
!fexSDK/samples/example1.m
!fexSDK/samples/README.md

# Ignore dump directory
var

# Ignore temp autosave
fexSDK/src/*.m~
fexSDK/src/util/*.m~


# Ignore paper except for pdf
paper/*
!paper/*.pdf


